footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    position: absolute;
    height: 150px;
    bottom: 0;
    width: 100%;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    color: white;
   }
  img{
    width: 65px;
    height: 50px;
  } 
  li{
    color: white;
    list-style-type: none;
  } 
  #date {
    margin-left: 800px;
    margin-bottom: 1px;
    color: white;
  }
  a{
    color: white;
  }
  