<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <ul class="nav nav-small">
          <li><a href="https://www.spotify.com/legal/" target="_blank">Legal</a></li>
          <li><a href="https://www.spotify.com/legal/privacy-policy/" target="_blank">Privacidade</a></li>
          <li><a href="https://www.spotify.com/legal/privacy-policy/#cookies" target="_blank">Cookies</a></li>
        </ul>
      </div>
      <div class="col-xs-5">
        <small>© Spotify AB</small>
        <br>
        <small id="data"></small>
      </div>
    </div>
  </div>
</footer>
