footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #191414;
    position: absolute;
    bottom: 0;
    padding: 30px 0 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.5px;
    height: 70px;
}
li a{
  padding: 10px;
  color: #919496;
  text-decoration: none;
}
.col-xs-5 {
    width: 42%;
}
.col-xs-7 {
  width: 58%;
}
.col-xs-5, .col-xs-7{
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
small{
  font-size: 80%;
  font-weight: 400;
  color: #919496;
  float: right;
}