nav{
  display: flex;
  background-color: black;
  width: auto;
  justify-content: space-around;
  box-shadow: rgb(80, 80, 80,);
}
.navbar-container{
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.navbar-header{
  height: auto;
  width: 200px;
}
.logo-img{
  width: auto;
}
img{
  max-width: 150px;
  vertical-align: middle;
  border-style: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  margin-inline-end: 0;
}
.list-items {
  margin-top: 6px;
  margin-left: 500px;
  font-weight: bold;
}
li {
  float: left;
}

li a {
  float: right;
  font-size: 15px;
  color: white;
  padding: 16px 16px;
  letter-spacing: 0;
  text-decoration: none;
}
li a:hover:not(.active) {
 color:rgb(13, 153, 13);
}
li a.active {
color:rgb(13, 153, 13);
}
.navbar-container{
  margin: 10px;
}
