<app-usernavbar></app-usernavbar>
<div class="mainPlaylist">
    <div class="containerr" >
        <div class="container" *ngFor="let play of playlist$">
            <a routerLink="/playlist/{{play._id}}" routerLinkActive="router-link-active" ><img id="imgg" src="{{play.cover}}" ></a>
        </div>
    </div>
    <div class="covid">
        <p>Proteja-se do Covid-19, não saia de casa</p>
    </div>
    <div class="text-container">
        <p class="larger-text">
           Seja bem vindo {{ currentUser }} Ouça sua playlist aqui
        </p>
        <p class="smaller-text">
            Essas são suas ultimas reproduções.
        </p>
    </div>
    <button routerLink="/search" class="playerManager">GERENCIAR PLAYLIST</button>
    <button routerLink="/userEdit" class="playerManager">EDITE SEU PERFIL</button>
</div>
<app-footer></app-footer>