*{
    margin: 0;
    padding: 0;
}
.mainPlaylist{
    margin: auto;
    height: 900px;
    width: 100%;
    background-image: linear-gradient(rgb(182, 107, 168), rgb(118, 163, 219),rgb(12, 11, 11));

}
.containerr{
    display: grid;
    float: right;
    margin: 70px 200px 0px 0px;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;


}
a img {
  height: 100%;
  width: 100%;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
}
a img:hover {
    transform: translate(0, -7px);
    box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.2);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
}
.larger-text{
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 0;
}
.text-container {
    margin: 0px 0px 0px 100px;
}
.covid {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgb(128, 124, 190), rgb(189, 231, 149));
}
.covid p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
}