<app-navbar></app-navbar>
<div class="mainPlaylist">
    <div class="container">
        <a routerLink="/playlist/0" routerLinkActive="router-link-active" ><img id="imgg" src="../assets/cover/img1.jpg" ></a>
        <a routerLink="/playlist/1" routerLinkActive="router-link-active" ><img id="imgg" src="../assets/cover/img2.png" ></a>
        <a routerLink="/playlist/2" routerLinkActive="router-link-active" ><img id="imgg" src="../assets/cover/img3.png" ></a>
        <a routerLink="/playlist/3" routerLinkActive="router-link-active" ><img id="imgg" src="../assets/cover/img4.png" ></a>

    </div>
    <div class="covid">
        <p>Proteja-se do Covid-19, não saia de casa</p>
    </div>
    <div class="text-container">
        <p class="larger-text">
            Ouça sua playlist aqui
        </p>
        <p class="smaller-text">
            Essas são suas ultimas reproduções.
        </p>
    </div>
</div>
<app-footer></app-footer>