<app-navbar></app-navbar>
<div class="mainPlaylist">
    <div class="containerr" >
        <div class="container" *ngFor="let play of playlist$">
            <a routerLink="/playlist/{{play.id}}" routerLinkActive="router-link-active" ><img id="imgg" src="{{play.cover}}" ></a>
        </div>
    </div>
    <div class="covid">
        <p>Proteja-se do Covid-19, não saia de casa</p>
    </div>
    <div class="text-container">
        <p class="larger-text">
            Ouça sua playlist aqui
        </p>
        <p class="smaller-text">
            Essas são suas ultimas reproduções.
        </p>
    </div>
</div>
<app-footer></app-footer>