<app-navbar></app-navbar>
<div class="logo-form">
  <img src="./assets/cadastroLogo.png" alt="spotify-logo" style="width: 250px; height: 70px;">
</div>
<hr>
<form [formGroup]="form" (ngSubmit)="login(form)">
  <div class="form-content">
    <div class="form-data">
      <input type="email" formControlName="email" id="email" placeholder="E-mail">
      <input type="password" formControlName="password" id="password" placeholder="password">
    </div>
    <div class="bottom-form">
      <div class="button-sub">
        <button type="submit">Login</button>
      </div>
      <p>Não tem uma conta?</p>
      <div class="button-sign-up">
        <button><a routerLink="/register">Sing up</a></button>
      </div>
    </div>
  </div>
</form>