input { 
    margin: 3px;
}
button {
    background-color: #1DB954;
    border: none;
    color: white;
}
.searchBtn {
    font: bolder;
    border: none;
}
.btn-outline-danger{
    background-color: rgb(194, 5, 5);
    border: none;
}
.selectedPlaylist{ 
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;  
}
#nova-playlist{
    background-color: rgb(13, 54, 28);    
}
#nova-playlist:hover {
    background-color:  rgb(24, 95, 50);
}