<app-usernavbar></app-usernavbar>

<div class="selectedPlaylist" *ngIf="playlistIndexSelected == null">
  <select id="select-playlist" (change)="onChange($event)">
    <option value="default">Selecione uma playlist</option>
    <option *ngFor="let name of playlistName; let i = index">{{ name }}</option>
  </select>
</div>


<div class="listagem" *ngIf="playlistIndexSelected != null">
  <form id="term">
    <input type="text" (keyup.enter)="onEnter()">
    <button class="searchBtn" (click)="getPlaylistSelected()">Pesquisar</button>
  </form>
  <div *ngFor="let play of playlistSearched">
    <div *ngFor="let music of play.music" style="display: block;">
      {{ music.name }}
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Musicas</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary"><a routerLink="/CreatePlaylistComponent"></a> Nova Playlist</button>
        {{ ' ' }}
        <button type="button" class="btn btn-secondary">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Musica</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let playlist of playlistSearched">
            <td>{{ playlist.name }}</td>
            <td></td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(playlist)">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default">Yes</button>
    <button type="button" class="btn btn-primary">No</button>
  </div>
</ng-template> -->