<!-- <div *ngFor="let song  of songs">
    <li> {{ song }}</li>
</div> -->
<app-navbar></app-navbar>
<body>
    <div class="containerr">
        <div class="left-gadgets">
            <div class="album-cover">
                <img src="assets/img2.png" alt="" class="imgg">
                <div class="description">
                    <p class="larger-desc">
                        {{ albumName }}
                    </p>
                </div>
                <div class="button-sub">
                    <button type="button">
                        PLAY
                    </button>
                </div>

            </div>
        </div>
        <div class="song-list">
            <ul  *ngFor="let song of songs" class="songs-name">
                <div class="play-img">
                    <div class="inner-play-img">
                        <img src="assets/songg.png" alt="">
                        <li>{{ song }}</li>
                    </div>
                    <div class="inner-play-time">
                        3:00
                    </div>
                </div>
                <li class="singer-name">{{ singerName }}</li>
                
            </ul>
        </div>
    </div>
    