<app-navbar></app-navbar>
<div class="info-content">
    
    <div class="about-section">
        <p>Projeto da disciplina de Desenvolvimento Web.</p>
        <p>Criado pelos alunos .</p>
    </div>
  
    <h2 style="text-align:center">Nossa Equipe</h2>
    <div class="row">
        <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="1" style="height: 200px;">
            <div class="container">
            <h2>Nome</h2>
            <p class="title">CEO & Founder</p>
            <p>lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <p><button class="button">Contact</button></p>
            </div>
        </div>
        </div>
    
        <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="1" style="height: 200px;">
            <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
            </div>
        </div>
        </div>
        
        <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="1" style="height: 200px;">
            <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
            </div>
        </div>
        </div>
    </div>
        <div class="row">
        <div class="column">
            <div class="card">
            <img src="/w3images/team1.jpg" alt="1" style="height: 200px;">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
            <img src="/w3images/team1.jpg" alt="1" style="height: 200px;">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
        </div>

</div>
<app-footer></app-footer>