<nav class="navbar">
    <a routerLink="/home" class="navbar-brand">
      <img src="../assets/logo.jpg" alt="logo-spotify">
      Spotify      
    </a>
    <ul>
      <li>
        <a routerLink="/faq" routerLinkActive="actived-link">Ajuda
        </a>
      </li>
    </ul>
  </nav>
  <img src="listening.jpg" alt="logo-listening">
  <footer>
    <a class="footer-brand" href="">
      <img src="../assets/logo.jpg" alt="logo-spotify">
      Spotify      
    </a>
    <ul>
      <li style="color: rgb(160, 159, 159);">HELPFUL LINKS</li>
      <li>About</li>
      <li>Contact us</li>
    </ul>
    <div id="date"> {{ myDate | date}} </div>    
  </footer>
  <script src="../index.js"></script>
<router-outlet></router-outlet>