<nav>
    <div class="navbar-container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">
          <div class="logo-img">
            <img src="assets\Spotify_Logo_RGB_Green.png" alt="Spotify">
          </div>
        </a>
      </div>
    </div>
        <div class="list-items" >
          <ul>
            <li><input type="text" (click)="navigate()" placeholder="Pesquisar"><a routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></a></li>
            <li><a routerLink="/allPlaylists" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">PlayList</a></li>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sair</a></li>

          </ul>
        </div>
  </nav>
  