<!-- <div *ngFor="let song  of songs">
    <li> {{ song }}</li>
</div> -->
<app-navbar></app-navbar>
<body>
    <div class="containerr">
        <div class="left-gadgets">
            <div class="album-cover">
                <img src="https://pbs.twimg.com/media/EPV873wWsAAbdj7.jpg" alt="" class="imgg">
                <div class="description">
                    <p class="larger-desc">
                        {{ albumName }}
                    </p>
                </div>
                <div class="button-sub">
                    <button type="button" (click)="start(path[0])">
                        PLAY
                    </button>
                </div>

            </div>
        </div>
        <div class="song-list">
            <ul *ngFor="let song of songs; let i = index" class="songs-name">
                <li class="bg-items" (dblclick)="start(path)">
                    <div class="play-img">
                        <div class="inner-play-img">
                            <img src="assets/songg.png" alt="">
                            <li id={{song.name}}>{{ song.name }}</li>
                        </div>
                        <div class="inner-play-time">
                            {{ song.duration }}
                        </div>
                    </div>
                    <div class="singer-name">
                        {{ song.singer }}
                    </div>
                </li>
            </ul>
        </div>
        <button class="play" (click)="togglePlayer(false)">Play</button>
        <button class="Pause" (click)="togglePlayer(true)">Pause</button>
    </div>