<body>
    <div class="containerr">
        <div class="backward"  >
          <a routerLink="/allPlaylists" style=" color: white; font-size: 50px;" >
            <i class="far fa-arrow-alt-circle-left"></i>
        </a>              
        </div>
        <div class="left-gadgets">
            <div class="play-heart">
                <div class="play-pause-larger">
                    <i class="fas fa-play-circle" style="font-size: 57px;" (click)="playAndPause()"></i>
                </div>
                <div class="hearted-album">
                    <i class="fas fa-heart"></i>
                </div> 
            </div>
            <div class="album-cover">
                <img src="{{ cover }}" alt="" class="imgg">
                <div class="description">
                    <p class="larger-desc">
                        {{ name }}
                    </p>
                </div>
                <div class="button-sub">
                    <button type="button" (click)="playSong(0)">
                        Play
                    </button>    
                </div>
            </div>
        </div>
        <div class="song-list">
            <ul *ngFor="let song of songs; let i = index" class="songs-name">
                <li class="bg-items" (click)="playSong(i)">
                    <div class="play-img">
                        <div class="inner-play-img">
                            <i class="fas fa-music"></i>
                            <li id={{song.name}}>{{ song.name }}</li>
                        </div>
                        <div class="inner-play-time">
                            {{ song.duration }}
                        </div>
                    </div>
                    <div class="singer-name">
                        {{ song.singer }}
                    </div>
                </li>
            </ul>
        </div>         
        <div class="playerr">
            <div class="left-info">
                <div class="current-img">
                    <img class="left-info-img" src="{{ cover }}" style="width: 50px; height: 50px;">
                </div>
                <div class="current-song">
                    <div id="song-title">{{songs[this.currentSong].name}}</div>
                </div>
            </div>
             <div class="btnsplayer">
                    <button class="prev" (click)="prev()" style="font-size: 18px; color: rgb(219, 216, 216);"><i class="fas fa-step-backward"></i></button>
                    <button class="play" (click)="playAndPause()" style="font-size: 19px; color: rgb(219, 216, 216);"><i id="playAndPause" class="fas fa-play"></i></button>
                    <button class="next" (click)="next()" style="font-size: 18px; color: rgb(219, 216, 216);"><i class="fas fa-step-forward"></i></button>
             </div>
        </div>
    </div>


