<body>
    <div class="containerr">
        <div class="left-gadgets">
            <div class="album-cover">
                <img src=".assets/{{ playlist.cover }}" alt="" class="imgg">
                <div class="description">
                    <p class="larger-desc">
                        {{ playlist.name }}
                    </p>
                </div>
                <div class="button-sub">
                    <button type="button" (click)="playSong(0)">
                        Play
                    </button>    
                </div>
            </div>
        </div>
        <div class="song-list">
            <ul *ngFor="let song of songs; let i = index" class="songs-name">
                <li class="bg-items" (click)="playSong(i)">
                    <div class="play-img">
                        <div class="inner-play-img">
                            <img src="assets/cover/songg.png" alt="">
                            <li id={{song.name}}>{{ song.name }}</li>
                        </div>
                        <div class="inner-play-time">
                            {{ song.duration }}
                        </div>
                    </div>
                    <div class="singer-name">
                        {{ song.singer }}
                    </div>
                </li>
            </ul>
        </div>         
    </div>
            <div class="playerr">
                <div class="left-info">
                    <div class="current-img">
                        <img class="left-info-img" src="../assets/{{ playlist.cover }}" style="width: 50px; height: 50px;">
                    </div>
                    <div class="current-song">
                        <div id="song-title">{{songs[this.currentSong].name}}</div>
                    </div>
                </div>
                 <div class="btnsplayer">
                        <button class="prev" (click)="prev()"><img src="../assets/playerButtons/prev.png" style="width: 40px; height: 40px;"></button>
                        <button class="play" (click)="playAndPause()"><img id="playAndPause" src="../assets/playerButtons/play.jpg" style="width: 25px; height: 25px;"></button>
                        <button class="next" (click)="next()"><img src="../assets/playerButtons/next.png"   style="width: 40px; height: 40px;"></button>
                 </div>
            </div>

