<app-navbar></app-navbar>
<body>
    <div class="containerr">
        <div class="left-gadgets">
            <div class="album-cover">
                <img src="assets/img4.png" alt="" class="imgg">
                <div class="description">
                    <p class="larger-desc">
                        Nome do álbum
                    </p>
                </div>
                <div class="button-sub">
                    <button type="button">
                        PLAY
                    </button>
                </div>

            </div>
        </div>
        <div class="song-list">
            <ul class="songs-name">
                <div class="play-img">
                    <div class="inner-play-img">
                        <img src="assets/songg.png" alt="">
                        <li>Nome da musica</li>
                    </div>
                    <div class="inner-play-time">
                        3:00
                    </div>
                </div>
                <li class="singer-name">Nome do Cantor</li>
            </ul>
        </div>
    </div>