<div class="home-content">
    <p class="text-header">Spotify</p>
    <p class="subtext-header">Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.</p>
    <div class="video">
        <video width="65%" height="auto" controls="true">
            <source src="https://ns.ibxk.com.br/clickjogos/2018/06/26/26141044343041.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="description">
        <h1>Uma breve história</h1>
        Spotify é um serviço de streaming de música, podcast e vídeo que foi lançado oficialmente 
        em 7 de outubro de 2008. É o serviço de streaming mais popular e usado do mundo. 
        Ele é desenvolvido pela startup Spotify AB em Estocolmo, Suécia. Ele fornece conteúdo 
        protegido de conteúdo provido de restrição de gestão de direitos digitais de gravadoras e 
        empresas de mídia. O Spotify é um serviço freemium; com recursos básicos sendo gratuitos 
        com propagandas ou limitações, enquanto recursos adicionais, como qualidade de transmissão 
        aprimorada e downloads de música, são oferecidos para assinaturas pagas.
    </div>
</div>