.navbar-light .navbar-brand {
    color: white;
    font-size: 30px;
}
.bg-light {
    background-color: black!important;
}
.accordion {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 150px;
    
}
.card-header {
    background-color: white;
}

