body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.form {
    display: abolute;    
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 10px;
    height: auto;
    padding-bottom: 10px;
    width: 350px;
    border: 1px solid rgb(195, 195, 195);
    box-shadow: black;
}

.logo-spotify img {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 50px;
    margin: 20px 20px 20px 75px;
}

.form-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.form-dados input {
    display: block;
    margin: 10px;
    width: 320px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgb(195, 195, 195);

}
#dia-data {
    display: inline-block;
    width: 60px;
}
select{
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgb(195, 195, 195);
    color: rgb(195, 195, 195);
}
#ano-data {
    display: inline-block;
    width: 90px;
}

::-webkit-input-placeholder {
    color: rgb(195, 195, 195);
    font-weight: bold;
}

hr {
    margin: 10px;
    color: black;
}
.sexo-check{
    display: flex;

}
.sexo-check div{
    display: flex;
    align-items: center;
    height: 50px;
}
.sexo-check input{
    display: inline-block;
    width: 13px;
    margin: 0 5px 3px 15px;
}
label{
    font-weight: bold;
    color: rgb(195, 195, 195);
    margin: 0px 2px 5px 0px;
}
button{
    padding: 13px;
    color: white;
    background-color: #1DB954;
    border-radius: 500px;
    width: 200px;
    border:none;
}
.button-sub{
    display: flex;
    justify-content: center;
}

/*  form css */

.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
