<app-navbar></app-navbar>

<form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">
    <div class="form">
        <div class="logo-spotify">
            <img src="../assets/cadastroLogo.png" alt="logo-spotify">
        </div>
        <div *ngIf="!showsError" class="alert alert-success" role="alert">
            Usuário cadastro com sucesso!
        </div>
        <hr>
        <div class="form-inner-content">
            <div class="form-title">
                Inscreva-se com seu endereço de e-mail
            </div>
        </div>
        <div class="form-dados">
            <div *ngIf="isEqual && showsError" class="alert alert-danger" role="alert">
                Os emails não são iguais
            </div>
            <input type="email" formControlName="email" id="email" placeholder="E-mail">
            <div *ngIf="formulario.controls.email.touched && !formulario.controls.email.valid"
                class="alert alert-danger" role="alert">
                Campo vazio ou inválido
            </div>
            <input type="email" formControlName="email2" id="email-confirmation" placeholder="E-mail-confirmation">
            <div *ngIf="formulario.controls.email2.touched && !formulario.controls.email2.valid"
                class="alert alert-danger" role="alert">
                Campo vazio ou inválido
            </div>
            <input type="password" formControlName="password" id="password" placeholder="Senha">
            <div *ngIf="formulario.controls.password.touched && !formulario.controls.password.valid" class="alert alert-danger"
                role="alert">
                Campo obrigatório
            </div>
            <input type="password" formControlName="password2" id="password2" placeholder="Confirme sua senha">
            <div *ngIf="formulario.controls.password2.touched && !formulario.controls.password2.valid" class="alert alert-danger"
                role="alert">
                Campo obrigatório
            </div>
            <input type="text" formControlName="nickname" id="nickname" placeholder="Como deveriamos chamar você?">
            <div *ngIf="formulario.controls.nickname.touched && !formulario.controls.nickname.valid" class="alert alert-danger"
                role="alert">
                Campo obrigatório
            </div>
            <input type="text" formControlName="dia" id="dia-data" placeholder="Dia">
            <select formControlName="mes" id="mes" aria-placeholder="">
                <option value="null" selected disabled hidden>Mês</option>
                <option value="janeiro">Janeiro</option>
                <option value="fevereiro">Fevereiro</option>
                <option value="março">Março</option>
                <option value="abril">Abril</option>
                <option value="maio">Maio</option>
                <option value="junho">Junho</option>
                <option value="juulho">Julho</option>
                <option value="agosto">Agosto</option>
                <option value="setembro">Setembro</option>
                <option value="outubro">Outubro</option>
                <option value="novembro">Novembro</option>
                <option value="dezembro">Dezembro</option>
            </select>
            <input type="text" formControlName="ano" id="ano-data" placeholder="Ano">
            <div class="sexo-check">
                <div>
                    <input type="radio" name="sexo" id="masculino">
                    <label for="masculino">Masculino</label>
                </div>
                <div>
                    <input type="radio" name="sexo" id="feminino">
                    <label for="feminino">Feminino</label>
                </div>
                <div>
                    <input type="radio" name="sexo" id="nao-binario">
                    <label for="nao-binario">Não binario</label>
                </div>
            </div>

        </div>

        <div class="button-sub">
            <button type="submit">INSCREVER-SE</button>
        </div>
    </div>
</form>